.social__item {
    width: 40px;
    height: 40px;
    @include flex__center;
    fill: #D4E1F4;
    margin: 15px 15px;
    border-radius: 50%;
    &:hover{
        fill: #FA8A37;
        transition: .1s linear;
        cursor: pointer;
    }
    svg{
        height: 35px;
    }
}