.social__item {
    width: 140px;
    height: 140px;
    padding: 15px;
    @include flex__center;
    fill: #000000;
    box-shadow: 5px 5px 18px rgba(8, 16, 22, 0.5);
    border-radius: 50%;
    &:hover{
        fill: #f2f2f2;
        transition: .1s linear;
        cursor: pointer;
    }
    svg{
        height: 65px;
    }
}