////  MEDIA  ////
/////////////////////////////////////////////////////////////////////////////////////////////


////Phone display 567px - 0////
/////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width:567px){
    .intro__main--button{
        display: none;
    }
    .intro__wrapper{
        flex-direction: column;
    }
    .intro__social{
        display: flex;
        justify-content: space-around;
    }
    .intro__text{
        text-align: center;
    }
    .footer__wrapper div:nth-child(2){
        flex-direction: column;
    }

}
@media (min-width:568px){
    .intro__text{
    h1{
        font-size: 3.7vw;
    }
    span{
        font-size: 2.2vw;
    }
    }
}

@media (max-width:992px){
    .nav{
        display: none;
    }
    .price{
        min-height: 800px;
    }
    .price__footer button{
        display: none;
    }
    .price__footer{
        flex-direction: column;
        text-align: center;
    }
    .price__container{
       min-width: 100%;
    }
    .service{
        min-height: 1970px;
    }
    .service__block--wrapper{
        flex-wrap: wrap;
        height: 90%;
    }
    //
    .reviews{
        min-height: 1480px;
    }
    .reviews__block--wrapper{
        flex-wrap: wrap;
        height: 90%;
    }
    .footer{
        min-height: 1200px;
    }
    .footer__contact--text{
        span{
            padding: 35px;
        }
    }
}


///4k display////
////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width:1441px){
    .service, .reviews, .price, .footer, .main, header{
        max-height: 800px;
    }
}
/////////////////////////////////////////////////////////////////////////////////////////////
