////  MEDIA  ////
/////////////////////////////////////////////////////////////////////////////////////////////


////Phone display 567px - 0////
/////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width:567px){
        .intro__text{ 
            min-height: 250px;
            width: 310px;
        h1{
            font-size: 25px;
        }
        span{
            font-size: 15px;
            width: 260px;
        }
    }
        .intro__wrapper{
            margin-top: 80px;
        }
        .intro__social{
            margin-top: 10px;
            height: 30px;
        }

}
@media (max-width:768px){
    .nav__container ul li a{
        font-size: 12px;
    }
    .intro__text{ 
        align-items: center;
        min-height: 350px;
        text-align: center;
        width: 410px;
    h1{
        font-size: 35px;
    }
    span{
        font-size: 25px;
    }
    }
    .intro__wrapper{
        flex-direction: column;
        align-items: center;
        min-height: 350px;
        margin-top: -60px;
    }
    .intro__main--button{
        display: none;
    }
    .intro__social{
        flex-direction: unset;
        width: 200px;
        height: 50px;
        margin-bottom: -30px;
    }


}
@media (max-width:992px){
    .service{
        min-height: 1970px;
    }
    .service__block--wrapper{
        flex-wrap: wrap;
        height: 90%;
    }
    //
    .reviews{
        min-height: 1480px;
    }
    .reviews__block--wrapper{
        flex-wrap: wrap;
        height: 90%;
    }
}


///4k display////
////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width:1441px){
    .service, .reviews, .price, .footer, .main, header{
        max-height: 800px;
    }
}
/////////////////////////////////////////////////////////////////////////////////////////////
