/////////////////////////////////////////////////////////////////////////////////////////////
@mixin links{
    list-style-type: none;
    text-decoration: none;
}
@mixin flex__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin transitions {
    transition: .1s linear;
}
// Variables
/////////////////////////////////////////////////////////////////////////////////////////////
$fz__h1: calc(1.8rem + 2vw);
$fz__h2: calc(1.2rem + 1.2vw);
$fz__h3: calc(1.2rem + 0.5vw);
$fz__h4: calc(1.2rem + 0.5vw);
/////////////////////////////////////////////////////////////////////////////////////////////
