body{
    margin: 0;
    padding: 0;
    font-family: gilroy, sans-serif;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
// imports
// ==========================================================================================
@import "mediaMain";
@import "mixinsMain";
// navigation
// ==========================================================================================
.nav__wrapper{
    display: flex;
    justify-content: center;
    background-color: #504C58;
    height: 60px;
    position: fixed;
    width: 100%;
}
.nav__container {
    min-width: 85%;
    height: 60px;
    background-color: #504C58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    a{
        z-index: 2700;
    }
}
ul.topnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.topnav{
    li a {
        @include links;
        font-size: 16px;
        font-weight: 300;
        color: #C4C4C4;
        padding: 15px 16px;
    }
    li a:hover {
        color: #D4E1F4;
        border-bottom: 1px solid #D4E1F4;
        transition: .1s linear;
    }
    a.links{
        color: #FE9C55;
        text-decoration: none;
        font-size: 20px;
    }
    a.links:hover{
        color: #D4E1F4;
    }
}
.responsive{
    background-color: #504C58;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    transition: 0.3s;
}
.mobile__nav{
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    .x{
        background: url(../img/icons/menu.svg);
        height: 70px;
        width: 70px; 
    }
}
.mobile__nav--responsive{
    background-color: #504C58;
    width: 100%;
    transition: .3s;
    .x{
        background: url(../img/icons/menu.svg);
        height: 70px;
        width: 70px; 
    }
}
.call{
    width: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    a{
        background: url(../img/icons/call.svg);
        height: 70px;
        width: 70px;
    }
}
// navigation
// ==========================================================================================
main{
    width: 100%;
    display: flex;
    justify-content: center;
    // height: 900px;
}
section{
    margin-top: 90px;
    width: 85%;
    span{
        color: #504C58;
        padding: 10px 0;
    }
}
.rewiews__main--content{
    margin-top: 20px;
    span:first-child{
        color: #E1680F;
        font-size: 18px;
    }
    span:nth-child(2){
        color: #C4C4C4;
        font-size: 16px;
    }
    p{
        color: #504C58;
        font-weight: 200;
    }
    div{
        display: flex;
        flex-direction: column;
    }
}
#rewiewsSecondPage{
    display: none;
}
.toggle__rewiews{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    button{
        outline: none;
    }
}
.sendReview{
    width: 100%;
    padding: 20px 0;

}
#sendReview{
    width: 250px;
    height: 60px;
    border: 1px solid #E1680F;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: #504C58;
    &:hover{
        color: #D4E1F4;
        background-color: #E1680F;
        transition: .1s linear;
        cursor: pointer;
    }
}
.rewiews__social{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.social__item--footer{
    width: 40px;
    height: 40px;
    margin: 0 15px;
    @include flex__center;
    fill: #504C58;
    box-shadow: 5px 5px 18px rgba(8, 16, 22, 0.5);
    border-radius: 50%;
    &:hover{
        fill: #611414;
        transition: .1s linear;
        cursor: pointer;
    }
    svg{
        height: 35px;
    }
}
.rewiews__footer{
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    a{
        color: #828282;
        text-decoration: none;
    }
}
// modals
// ==========================================================================================
#rewievs__modal{
    display: none;
}
#reviews__modal--thanks{
    display: none;
}
.rewievs__modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(8, 16, 22, 0.55);
    top: 0;
    left: 0;
    z-index: 5000;
    display: flex;
}
.rewiews__dialog{
    margin: 70px auto;
    width: 27%;
    height: 65%;
    min-width: 320px;
    max-height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
    span{
        color: #504C58;
    }
    input{
        color: #504C58;
        width: 250px;
        height: 40px;
        border: 1px solid #E1680F;
        border-radius: 50px;
        outline: none;
        font-size: 20px;
        padding: 0 15px;
        text-align: center;
    }
    button{
        color: #fff;
        background-color: #E1680F;
        width: 250px;
        height: 40px;
        border: 1px solid #E1680F;
        border-radius: 50px;
        outline: none;
        font-size: 20px;
        &:hover{
            background-color: #fff;
            color: #504C58;
            cursor: pointer;
        }
    }
    textarea{
        outline: none;
        width: 250px;
        border-radius: 30px;
        border: 1px solid #E1680F;
        padding: 15px;
        color: #504C58;
    }
    img{
        position: absolute;
        top: 0;
        right: 0;
    }
}


.reviews__modal--thanks{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(8, 16, 22, 0.55);
    top: 0;
    left: 0;
    z-index: 5000;
    display: flex;
}
.rewiews__send{
    margin: 70px auto;
    width: 27%;
    height: 65%;
    min-width: 320px;
    max-height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
    span{
        width: 70%;
        color: #504C58;
    }
    a{
        color: #fff;
        background-color: #E1680F;
        width: 250px;
        height: 40px;
        border: 1px solid #E1680F;
        border-radius: 50px;
        outline: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover{
            background-color: #fff;
            color: #504C58;
            cursor: pointer;
        }
    }
}