// imports variables components
////////////////////////////////////////////////////////////////////////////////////////////
@import "mediaMain"; 
@import "mixinsMain";
@import "_navigationComponents.scss";
@import "_bodyStyleComponents.scss";
@import "_modalWindows.scss";
@import "_socialIcon.scss";
// Main
/////////////////////////////////////////////////////////////////////////////////////////////
main{
    width: 100%;
    display: flex;
    justify-content: center;
}
section{
    margin-top: 90px;
    width: 85%;
    span{
        color: #504C58;
        padding: 10px 0;
        font-size: $fz__h2;
    }
}
.rewiews__main--content{
    margin-top: 20px;
    span:first-child{
        color: #E1680F;
        font-size: $fz__h3;
    }
    span:nth-child(2){
        color: #C4C4C4;
        font-size: $fz__h4;
    }
    p{
        color: #504C58;
        font-weight: 200;
        font-size: $fz__h4;
    }
    div{
        display: flex;
        flex-direction: column;
    }
}
#rewiewsSecondPage{
    display: none;
}
.toggle__rewiews{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    button{
        outline: none;
    }
}
.sendReview{
    width: 100%;
    padding: 20px 0;

}
#sendReview{
    width: 250px;
    height: 60px;
    border: 1px solid #E1680F;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: #504C58;
    &:hover{
        color: #D4E1F4;
        background-color: #E1680F;
        transition: .1s linear;
        cursor: pointer;
    }
}
.rewiews__social{
    display: flex;
    justify-content: center;
}
.rewiews__footer{
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    span{
        font-size: 12px;
    }
    a{
        color: #828282;
        text-decoration: none;
    }
}
// modals
/////////////////////////////////////////////////////////////////////////////////////////////
#rewievs__modal{
    display: none;
}
#reviews__modal--thanks{
    display: none;
}
/////////////////////////////////////////////////////////////////////////////////////////////