body {
    padding: 0;
    margin: 0;
    font-family: gilroy, sans-serif;
    color: white;
    &.no-scroll{
        // overflow: hidden;
    }
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
// imports
// ==========================================================================================
@import "mixinsMain";
@import "mediaMain";
// @import "transitions";

// social items
// ==========================================================================================
.social__item {
    width: 40px;
    height: 40px;
    @include flex__center;
    fill: #FB9346;
    &:hover{
        fill: #C4C4C4;
        transition: .1s linear;
        cursor: pointer;
    }
    svg{
        height: 35px;
    }
}
.social__item--footer {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    @include flex__center;
    fill: #C4C4C4;
    box-shadow: 5px 5px 18px rgba(8, 16, 22, 0.5);
    border-radius: 50%;
    &:hover{
        fill: #f2f2f2;
        transition: .1s linear;
        cursor: pointer;
    }
    svg{
        height: 35px;
    }
}
// header
// ==========================================================================================
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/picture/main-img-min.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    .nav__wrapper{
        width: 100%;
        background-color: #504C58;
        height: 60px;
        display: flex;
        justify-content: center;
        position: fixed;
    }
}
.call{
    width: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    a{
        background: url(../img/icons/call.svg);
        height: 70px;
        width: 70px;
    }
}

// navigation
// ==========================================================================================
.nav__container {
    min-width: 85%;
    height: 60px;
    background-color: #504C58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    a{
        z-index: 2700;
    }
}
ul.topnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.topnav{
    li a {
        @include links;
        font-size: 16px;
        font-weight: 300;
        color: #C4C4C4;
        padding: 15px 16px;
    }
    li a:hover {
        color: #D4E1F4;
        border-bottom: 1px solid #D4E1F4;
        transition: .1s linear;
    }
    a.links{
        color: #FE9C55;
        text-decoration: none;
        font-size: 20px;
    }
    a.links:hover{
        color: #D4E1F4;
    }
}
// .icon{
//     text-decoration: none;
//     list-style-type: none;  
//     color: #D4E1F4;
//     font-size: 50px;
// }
.responsive{
    background-color: #504C58;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    transition: 0.3s;
}
.mobile__nav{
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    .x{
        background: url(../img/icons/menu.svg);
        height: 70px;
        width: 70px; 
    }
}
.mobile__nav--responsive{
    background-color: #504C58;
    width: 100%;
    transition: .3s;
    .x{
        background: url(../img/icons/menu.svg);
        height: 70px;
        width: 70px; 
    }
}
// intro
// ==========================================================================================
.intro {
    width: 100%;
    height: 100vh;
    @include flex__center;
    background-color: rgba($color: #504C58, $alpha: .6);

}
.intro__wrapper {
    // margin-top: 90px;
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.intro__text {
    @include flex__column;
    span {
        color: #fff;
    }
    h1 {
        color: #D4E1F4;
        margin: 0;
    }
    .intro__main--button {
        width: 300px;
        height: 60px;
        margin-top: 30px;
        outline: none;
        font-size: 21px;
        font-weight: 200;
        color: #fff;
        border-radius: 50px;
        border: 2px solid #FE9C55;
        background: none;
    &:hover{
        background-color: #FE9C55;
        color: #000000;
        transition: .1s linear;
        cursor: pointer;
    }
    }
}
.intro__social a{
    margin-bottom: 15px;
}
.intro__slides {
    z-index: 11;
    margin-top: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    button {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: #504C58;
        border: none;

    }
    button:hover {
        background-color: #FE9C55;
    }
}
// main
// ==========================================================================================
.main {
    width: 100%;
    height: 110vh;
    background-color: #D4E1F4;
    @include flex__center;
}
.main__wrapper {
    // margin-top: 35px;
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        color: #504C58;
        margin-top: 35px;
    }
}
.main__content{
    display: flex;
    justify-content: space-between;
    flex-direction:  column;
    height: 90%;
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div{
        box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.2);
        // max-width: 320px;
        min-height: 180px;
        margin: 20px 10px 20px 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        }
    }
    span{
        color: #E1680F;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    p{
        color: #504C58;
        text-align: center;
    }
    img{
        height: 60px;
        padding-top: 10px;
    }
}

// price
// ==========================================================================================
.price {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: #504C58;
    @include flex__center;
}
.price__wrapper {
    background: url(../img/icons/price_calculator.svg)no-repeat;
    background-position: right center;
    width: 85%;
    height: 85%;
    @include flex__column;
    background-color: #504C58;
    h2 {
        font-size: 25px;
        color: #FE9C55;
        margin-bottom: 0;
    }
    span{
        font-size: 15px;
        color: #C4C4C4;
    }
}
.price__container {
    height: 300px;
    width: 50%;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        width: 50%;
        height: 100%;
        .price__item{
            background-color: #504C58;
            height: 20%;
            @include flex__center;
            width: 100%;
            border: 1px solid #46434C;
            border-bottom: none;
            @include links;
            color: #C4C4C4;
            font-size: 22px;
            &:nth-child(5){
                border-bottom: 1px solid #46434C;
            }
            &:hover{
                background-color: #D4E1F4;
                color: #504C58;
                transition: .1s linear;
            }
        }
    }
}
.price__about {
    display: flex;
    flex-direction: column;
    span{
        font-size: 15px;
        color: #C4C4C4;        
    }
    span:last-child{
        font-size: 20px;
        color: #fff;
        margin-top: 15px;
    }
}
.price__footer {
    display: flex;
    justify-content: space-between;
    button{
        font-size: 20px;
        margin-top:20px;
        border: 1px solid #FE9C55;
        color: #fff;
        background: none;
        border-radius: 50px;
        width: 250px;
        height: 50px;
        font-weight: 300;
        outline: none;
        &:hover{
            color: #000000;
            background-color: #FE9C55;
            transition: .1s linear;
            cursor: pointer;
        }
    }
}
// about
// ==========================================================================================
.service{
    width: 100%;
    height: 110vh;
    background-color: #D4E1F4;
    @include flex__center;
}
.service__wrapper{
    margin-top: 35px;
    height: 95%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        color: #504C58;
        margin-top: 55px;
    }
}
.service__block--wrapper{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    .service__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 30px 10px;
    }
}
.service__block{
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.2);
    div:first-child{
        margin-top: -60px;
    }
}

.service__numbers{
    color: #fff;
    font-size: 110px;
    font-weight: 600;
}
.service__block--item{
    display: flex;
    flex-direction: column;
    span{
        color: #E1680F;
        text-align: center;
        font-weight: 600;
        padding: 10px;

    }
    p{
        color: #504C58;
        padding: 25px;
        font-weight: 300;
        // text-align: center;
        line-height: 20px;
    }
    img{
        height: 110px;
    }
}
// reviews
// ==========================================================================================
.reviews{
    width: 100%;
    height: 110vh;
    @include flex__center;
    .reviews__wrapper{
        margin-top: 55px;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        h2 {
            width: 85%;
            color: #E1680F;
            // margin-top: 55px;
            text-align: left;
        }
        a{
            @include links;
            color: #E1680F;
            width: 85%;
            text-align: left;
            margin-bottom: 50px;
        }
        a:hover{
            color: #504C58;
        }
    }
}
.reviews__block--wrapper{
    width: 85%;
    display: flex;
    justify-content: space-between;
    div{
        margin: 20px 10px 20px 10px;
        box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.15);
        div{
            box-shadow: none;
            display: flex;
            flex-direction: column;
            width: 90%;
            padding: 15px;
            span:first-child{
                color: #E1680F;
                font-size: 20px;
            }
            span:nth-child(2){
                color: #C4C4C4;
            }
            p{
                color: #504C58;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    img{
        height: 120px;
        margin-left: 20px;
        margin-top: -50px;
    }

}
// footer
// ==========================================================================================
.footer{
    width: 100%;
    height: 110vh;
    @include flex__center;
    background-color: #504C58;    
}
.footer__wrapper{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    div:nth-child(2){
        .footer__contact{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
            .footer__contact--text{
                width: 90%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                span{
                    padding-left: 45px;
                    height: 27px;
                    display: flex;
                    align-items: center;
                }
                span:nth-child(1){
                    background: url(../img/icons/footer__time.svg)no-repeat;
                    background-position-y: center;
                }
                span:nth-child(2){
                    background: url(../img/icons/footer__adress.svg)no-repeat;
                    background-position-y: center;
                }
                span:nth-child(3){
                    background: url(../img/icons/footer__phone.svg)no-repeat;
                    background-position-y: center;
                }
                span:nth-child(4){
                    background: url(../img/icons/footer__mail.svg)no-repeat;
                    background-position-y: center;
                }
            }  
            div{
                box-shadow: none;
            }
            .footer__button{
                width: 170px;
                height: 50px;
                background-color: #FA8A37;
                outline: none;
                border-radius: 50px;
                color: #504C58;
                font-size: 15px;
                border: none;
                box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);

            &:hover{
                color: #000;
                background-color: #C4C4C4;
                transition: .1s linear;
                cursor: pointer;
            }
            }
        }
        #map{
            width: 100%;
            height: 100%;
        }
    }
    div:nth-child(3){
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    div:nth-child(4){
        display: flex;
        justify-content: space-between;
        width: 100%;
        span {
            color: #C4C4C4;
            font-size: 12px;
            padding: 0 15px;
        }
        a{
            letter-spacing: 1px;
            font-family: 'Orbitron', sans-serif;
            font-size: 15px;
            @include links;
            color: #C4C4C4;
            padding: 0 10px;
        &:hover{
            color: #fff;
        }
        }
    }
    h2 {
        width: 100%;
        color: #D4E1F4;
        text-align: left;
    }
}
.footer_wrapper--contacts{
    display: flex;
    height: 60%;
    width: 100%;
    background-color: #504C58;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
}
.social__item--footer{
    fill: #D4E1F4;
    &:hover{
        box-shadow: 2px 1px 38px rgba(8, 16, 22, 0.7);

    }
}

// modal
// ==========================================================================================
.modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(8, 16, 22, 0.55);
    top: 0;
    left: 0;
    z-index: 5000;
    display: flex;
}
.modal__dialog{
    margin: 60px auto;
    width: 27%;
    height: 65%;
    min-width: 350px;
    max-height: 500px;
    background-color: #504C58;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
    p{
        color: #D4E1F4;
        width: 70%;
        font-size: 18px;
    }
    button{
        color: #504C58;
        background-color: #FA8A37;
        width: 250px;
        height: 60px;
        border: 1px solid #FA8A37;
        border-radius: 50px;
        outline: none;
        font-size: 20px;
        &:hover{
            background-color: #504C58;
            color: #FA8A37;
            cursor: pointer;
        }
    }
    input{
        color: #FA8A37;
        background-color: #504C58;
        width: 250px;
        height: 60px;
        border: 1px solid #FA8A37;
        border-radius: 50px;
        outline: none;
        font-size: 20px;
        padding: 0 15px;
        text-align: center;
    }
    img{
        position: absolute;
        top: 0;
        right: 0;
    }
}
#footer__close--modal{
    display: none;
}
.modal__send--wrapper{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(8, 16, 22, 0.55);
    top: 0;
    left: 0;
    z-index: 5000;
    display: flex;
}
.modal__send{
    margin: 60px auto;
    width: 27%;
    height: 65%;
    min-width: 350px;
    max-height: 500px;
    background-color: #504C58;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
    span{
        font-size: 18px;
        color: #D4E1F4;
        width: 70%;
    }
    a{
        color: #504C58;
        background-color: #FA8A37;
        width: 250px;
        height: 60px;
        border: 1px solid #FA8A37;
        border-radius: 50px;
        outline: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover{
            background-color: #504C58;
            color: #FA8A37;
            cursor: pointer;
        }    
    }
}
#modalOrder{
    display: none;
    z-index: 5000;
}