body {
    padding: 0;
    margin: 0;
    font-family: gilroy, sans-serif;
    color: white;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
// imports
// ==========================================================================================
@import "mixinsMain";
@import "mediaMain";
// @import "transitions";

// social items
// ==========================================================================================
.social__item {
    width: 40px;
    height: 40px;
    @include flex__center;
    fill: #FB9346;
    &:hover{
        fill: #C4C4C4;
        transition: .1s linear;
        cursor: pointer;
    }
    svg{
        height: 35px;
    }
}
.social__item--footer {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    @include flex__center;
    fill: #C4C4C4;
    box-shadow: 5px 5px 18px rgba(8, 16, 22, 0.5);
    border-radius: 50%;
    &:hover{
        fill: #f2f2f2;
        transition: .1s linear;
        cursor: pointer;
    }
    svg{
        height: 35px;
    }
}
// header
// ==========================================================================================
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/picture/main-img-min.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}
// navigation
// ==========================================================================================
nav {
    width: 100%;
    height: 60px;
    background-color: #504C58;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.nav__container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        @include links;
        display: flex;
        width: 65%;
        justify-content: space-between;
    }
    a {
        @include links;
        font-size: 16px;
        font-weight: 300;
        color: #C4C4C4;
        padding-top: 25px;
    }
    a:first-child{
        margin-top: -20px;
        width: 1px;
    }
    a:hover{
        color: #D4E1F4;
        border-bottom: 1px solid #D4E1F4;
        transition: .1s linear;
    }
    a.links{
        color: #FE9C55;
        padding-top: 0;
    }
    a.links:hover {
        border: none;
        color: #D4E1F4;
    }
}
.burger-menu__button{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #504C58;
}
.burger-menu__button:hover .burger-menu__lines{
    filter: brightness(0.7);
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #C4C4C4;
}
.burger-menu__lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu__lines::before{
    content: '';
    top: -12px;
}
.burger-menu__lines::after{
    content: '';
    top: 12px;
}
.burger-menu_active .burger-menu__lines{
    background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before{
    top: 0;
    transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after{
    top: 0;
    transform: rotate(-45deg);
}
.burger-menu__nav{
    padding: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 50%;
    background-color: #504C58;
    overflow-y: auto;
    left: -100%;
}
.burger-menu_active .burger-menu__nav{
    left: 0;
}
.burger-menu__link{
    padding: 30px;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
}
.burger-menu__link:hover{
    filter: brightness(0.7);
}
.burger-menu__overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu__overlay{
    display: block;
}


// intro
// ==========================================================================================
.intro {
    width: 100%;
    height: 100vh;
    @include flex__center;
    background-color: rgba($color: #504C58, $alpha: .6);

}
.intro__wrapper {
    margin-top: 90px;
    width: 85%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.intro__text {
    @include flex__column;
    span {
        color: #fff;
    }
    h1 {
        color: #D4E1F4;
    }
    .intro__main--button {
        width: 300px;
        height: 60px;
        outline: none;
        font-size: 21px;
        font-weight: 200;
        color: #fff;
        border-radius: 50px;
        border: 2px solid #FE9C55;
        background: none;
    &:hover{
        background-color: #FE9C55;
        color: #000000;
        transition: .1s linear;
        cursor: pointer;
    }
    }
}
.intro__social a{
    margin-bottom: 15px;
}
.intro__slides {
    z-index: 11;
    margin-top: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    button {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: #504C58;
        border: none;
    }
    button:hover {
        background-color: #FE9C55;
    }
}
// main
// ==========================================================================================
.main {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: #D4E1F4;
    display: flex;
    justify-content: center;
}
.main__wrapper {
    width: 85%;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    h2 {
        width: 78%;
        padding: 0;
        color: #504C58;
        font-size: 25px;
        text-align: start;
        font-weight: 400;
    }
}
.main__block--wrapper{
    height: 60%;
    width:90%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    margin-bottom: 70px;
    div{
        display: flex;
        justify-content: space-around;
        div{
            padding: 0 0 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            span:first-child{
                color: #E1680F;
                font-size: 30px;
                font-weight: 600;
                border-radius: 50%;
                border: 1px #D4E1F4;
                background-color: #D4E1F4;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);   
                padding: 20px;
            }
            span:last-child{
                color: #504C58;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

// price
// ==========================================================================================
.price {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: #504C58;
    @include flex__center;
}
.price__wrapper {
    background: url(../img/icons/price_calculator.svg)no-repeat;
    background-position: right center;
    width: 85%;
    height: 85%;
    @include flex__column;
    background-color: #504C58;
    h2 {
        font-size: 25px;
        color: #FE9C55;
        margin-bottom: 0;
    }
    span{
        font-size: 15px;
        color: #C4C4C4;
    }
}
.price__container {
    height: 300px;
    width: 50%;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        width: 50%;
        height: 100%;
        .price__item{
            background-color: #504C58;
            height: 20%;
            @include flex__center;
            width: 100%;
            border: 1px solid #46434C;
            border-bottom: none;
            @include links;
            color: #C4C4C4;
            font-size: 25px;
            &:nth-child(5){
                border-bottom: 1px solid #46434C;
            }
            &:hover{
                background-color: #D4E1F4;
                color: #504C58;
                transition: .1s linear;
            }
        }
    }
}
.price__about {
    display: flex;
    flex-direction: column;
    span{
        font-size: 15px;
        color: #C4C4C4;        
    }
    span:last-child{
        font-size: 20px;
        color: #fff;
        margin-top: 15px;
    }
}
.price__footer {
    display: flex;
    justify-content: space-between;
    button{
        font-size: 20px;
        border: 1px solid #FE9C55;
        color: #fff;
        background: none;
        border-radius: 50px;
        width: 250px;
        height: 40px;
        font-weight: 300;
        &:hover{
            color: #000000;
            background-color: #FE9C55;
            transition: .1s linear;
            cursor: pointer;
        }
    }
}
// about
// ==========================================================================================
.service{
    width: 100%;
    height: 100vh;
    background-color: #D4E1F4;
    @include flex__center;
}
.service__wrapper{
    margin-top: 35px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2 {
        color: #504C58;
        font-weight: 400;
        padding: 15px;
    }
}
.service__block--wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .service__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px 30px 20px;
    }
}
.service__block{
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
    div:first-child{
        margin-top: -60px;
    }
}

.service__numbers{
    color: #fff;
    font-size: 110px;
    font-weight: 600;
}
.service__block--item{
    display: flex;
    flex-direction: column;
    span{
        color: #E1680F;
        text-align: center;
        font-weight: 600;
        padding: 10px;

    }
    p{
        color: #504C58;
        padding: 10px;
        font-weight: 300;
        text-align: center;

    }
    img{
        height: 110px;
    }
}
// reviews
// ==========================================================================================
.reviews{
    width: 100%;
    height: 100vh;
    @include flex__center;
    .reviews__wrapper{
        margin-top: 35px;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        h2 {
            color: #E1680F;
            font-weight: 400;
            padding: 20px;
        }
        a{
            @include links;
            color: #E1680F;
            margin-bottom: 15px;
        }
        a:hover{
            color: #504C58;
        }
    }
}
.reviews__block--wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    div{
        margin: 20px 20px 20px 20px;
        box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
        div{
            box-shadow: none;
            display: flex;
            flex-direction: column;
            width: 90%;
            padding: 15px;
            span:first-child{
                color: #E1680F;
                font-size: 20px;
            }
            span:nth-child(2){
                color: #C4C4C4;
            }
            p{
                color: #504C58;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    img{
        height: 120px;
        margin-left: 20px;
        margin-top: -50px;
    }
}
// footer
// ==========================================================================================
.footer{
    width: 100%;
    height: 100vh;
    @include flex__center;
    background-color: #504C58;    
}
.footer__wrapper{
    margin-top: 35px;
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    div:nth-child(2){
        .footer__contact{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
            .footer__contact--text{
                width: 90%;
                height: 95%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                span{
                    padding-left: 45px;
                    height: 27px;
                    display: flex;
                    align-items: center;
                }
                span:nth-child(1){
                    background: url(../img/icons/footer__time.svg)no-repeat;
                    background-position-y: center;
                }
                span:nth-child(2){
                    background: url(../img/icons/footer__adress.svg)no-repeat;
                    background-position-y: center;
                }
                span:nth-child(3){
                    background: url(../img/icons/footer__phone.svg)no-repeat;
                    background-position-y: center;
                }
                span:nth-child(4){
                    background: url(../img/icons/footer__mail.svg)no-repeat;
                    background-position-y: center;
                }
            }  
            div{
                box-shadow: none;
            }
            button{
                width: 170px;
                height: 50px;
                background-color: #FA8A37;
                outline: none;
                border-radius: 50px;
                color: #504C58;
                font-size: 15px;
                border: none;
                box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);

            &:hover{
                color: #000;
                background-color: #C4C4C4;
                transition: .1s linear;
                cursor: pointer;
            }
            }
        }
        #map{
            width: 100%;
            height: 100%;
        }
    }
    div:nth-child(3){
        display: flex;
        justify-content: center;
    }
    div:nth-child(4){
        display: flex;
        justify-content: space-between;
        width: 100%;
        span {
            color: #C4C4C4;
            font-size: 12px;
            padding: 0 15px;
        }
        a{
            letter-spacing: 1px;
            font-family: 'Orbitron', sans-serif;
            font-size: 15px;
            @include links;
            color: #C4C4C4;
            padding: 0 10px;
        &:hover{
            color: #fff;
        }
        }
    }
    h2 {
        width: 78%;
        padding: 0;
        color: #D4E1F4;
        font-size: 25px;
        text-align: start;
        font-weight: 400;
        margin: 0;
    }
}
.footer_wrapper--contacts{
    display: flex;
    height: 70%;
    width: 90%;
    background-color: #504C58;
    box-shadow: 1px 1px 38px rgba(8, 16, 22, 0.5);
}