body {
	padding: 0;
	margin: 0;
	width: 100%;
	min-width: 500px;
}
/*---------------------------------------Style of Header----------------------------------------*/
header {
	background: url(img/photo-1433354359170-23a4ae7338c6.png)no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: center;
}
.c-header {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
}
/*-----------------------------------part number of the main block #1----------------------------*/
.section-2 {
	display: flex;
}
.section-2-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*-----------------------------------part number of the main block #2----------------------------*/
.section-3 {
	background: url(img/BG.png)no-repeat;
	background-size: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}
.section-3-img {
	display: flex;

}
/*-----------------------------------part number of the main block #3-----------------------------*/
.description {
	background: linear-gradient(-45deg,#8E78FF, #FC7D7B);
	height: 100vh;
	display: flex;
}
.description-lft {
	display: flex;
	align-items: center;
}
/*----------------------------------part number of the main block #4------------------------------*/
.client {
	height: 100vh;
	background: linear-gradient(-30deg,#333333, #5A5454);
	display: flex;
}
.client-img-company {
	display: flex;
}
/*-----------------------------------part number of the main block #5------------------------------*/
.browser {
	height: 100vh;
	display: flex;
}
/*-----------------------------------part number of the main block #6------------------------------*/
.try-now {
	height: 40vh;
	background-color: #5A5454;
	display: flex;
}
/*-------------------------------------Style of Footer---------------------------------------------*/
footer {
	height: 20vh;
	background-color: red;
	display: flex;
}