body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Play', sans-serif;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: red;
}
li:hover {
    border-bottom: 2px solid black;
    color: black;
    padding: 32px;
}
.text__red {
    color: red;
    text-transform: uppercase;
    font-size: 20px;
}
.text__green {
    color: rgb(113, 113, 113);
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}
.text__white {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.text__italic {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
h2 {
    font-size: 46px;
    color: rgb(113, 113, 113);
    text-transform: uppercase;
    text-align: center;
}


/* --------header--------- */
header {
    z-index: 2;
    height: 14vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.header__wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    align-items: center;
}
.logo {
    color: red;
    font-size: 35px;
    display: flex;
    align-items: center;
}
.logo:hover {
    color: black;
    border-bottom: 2px solid black;

}
.header__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    width: 100%;
    color:rgb(229, 240, 241);
    font-size: 38px;
    text-shadow: 15px 25px 20px rgba(156, 14, 9, 0.75);
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: url(../img/header8.jpg);
    background-size: cover;
}
.header__main-opacity {
    /* background: rgba(238, 64, 58, 0.3); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header__btn {
    text-decoration: none;
    width: 20%;
    outline: none;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header__btn:before,
.header__btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.header__btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.header__btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.header__btn:hover:before,
.header__btn:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.header__btn:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.header__btn:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.header__btn:hover {background: rgba(255,255,255,.2);}

/* ---------main---------- */

/* ---------section #1---- */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wrapper__main {
    width: 90%;
}
.intro__info {
    height: 15vh;
    width: 100%;
    background-color: bisque;
}
section {
    height: 100vh;
    display: flex;

}
.wrapper__repair {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.wrapper__repair-content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.wrapper__repair-img {
    background: url(../img/main1.jpg);
    background-size: cover;
    height: 100vh;
    width: 50%;
}
.btn__main {
        text-decoration: none;
        outline: none;
        display: inline-block;
        width: 240px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0,0,0,.1);
        transition: .3s;
}
.btn__main:hover {
        background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46,229,157,.4);
        color: white;
        transform: translateY(-7px);
}

/* ---------section #2---- */
.wrapper__accessories-img {
    background: url(../img/main2.jpg);
    background-size: cover;
    height: 100vh;
    width: 50%;
}
.wrapper__accessories-content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* ---------section #3---- */

.main__info-user {
    background: url(../img/main6.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #fff;
}
.wrapper__info-user {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
