body {
    margin: 0;
    padding: 0;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
header {
    z-index: 2;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}
.header__nav {
    display: flex;
    list-style-type: none;
    a{
        text-decoration: none;

    }
}