*   {
    margin: 0;
    padding: 0;
}
body {
    background:url(../img/CP2.gif)no-repeat center;
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    color: white;
    margin: 0 auto;
    font-size: 2em;
    margin-top: 100px;
}
div {
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    margin-top: 130px;
    font-size: 1.5em;

    
}